doctype html
html
    head(lang="es")
        title MySchop | Compras a nivel nacional
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/styles.css")
    body
      include ../header/template.jade
      .Header
          .container
              .row
                  h1.Header-title.text-center Acerca de
      section.col-md-8.col-sm-6.col-xs-9.center-block.quitar-float.text-center
          h3 Sobre nosotros
          p.
              Somos una de las compañías más admiradas y sólidas de Colombia
              El compromiso de nuestra gente, nuestro fuerte y balanceado portafolio de productos, la excelencia de nuestras operaciones y la gran lealtad de nuestros clientes y consumidores, nos han permitido convertirnos en una de las compañías más admiradas del país y realizar importantes contribuciones al desarrollo económico y social de Colombia.
