footer.Contacto.scroll#Contacto
		.titulo-Contacto.col-md-12.col-sm-12.col-xs-12
				p.tituloRojo Contacto
		.Contacto-content.col-md-12.col-sm-12.col-xs-12
			p.Contacto-info Me puedes escribir al email 
			p.Contacto-email 
				a(href="mailto:tronwares@gmail.com") Tronwares@gmail.com
			p.Contacto-phone Cel: 3003079140
		.container
			.row
				.Contacto-content.col-md-12.col-sm-12.col-xs-12

					a.icon.icon-cube.facebook(href="https://www.facebook.com/andres.wky" target="_blank") facebook
					a.icon.icon-cube.twitter(href="https://www.twitter.com/tronwares" target="_blank") twitter
					a.icon.icon-cube.googleplus(href="https://plus.google.com/u/0/112775661194291072403/posts" target="_blank") sgoogle+
					a.icon.icon-cube.github(href="https://github.com/andreshernandezl" target="_blank") github
					a.icon.icon-cube.linkedin(href="https://co.linkedin.com/pub/robinson-andres-hernandez-lozano/a6/148/486" target="_blank") linkedin
