.Header
    
    background-color #E8E8E8
    &-title
        margin-top 70px
        font-family 'Pacifico', cursive
        color #3d9990
        
.Product
    background-color white
    padding 20px 0
    
    &-item
        display inline-block
        border 2px dotted #EAEAEA
    &-title
       
        text-align center
        font-size 26px
    &-img
        width 250px
    &-peace
        color red
        float right    
        font-size 26px
    

        