doctype html
html
    head(lang="es")
        title MySchop | Compras a nivel nacional
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="description", content="")
        meta(name="keywords", content="")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/styles.css")
    body
      include ../header/template.jade
      .Header
          .container
              .row
                  h1.Header-title.text-center Menu
        .container
             .row
                 section.Product.center-block.text-center
                     articules.Product-item.col-md-3.col-xs-12.quitar-float
                         h3.Product-title Nombre Producto
                         img.Product-img(src="img/nuevo-producto.png", width="", height="", alt="")
                         p.Product-peace $ 55.000
                         ul
                             li
                             li
                             li
                     articules.Product-item.col-md-3.col-xs-12.quitar-float
                         h3.Product-title Nombre Producto
                         img.Product-img(src="img/nuevo-producto.png", width="", height="", alt="")
                         p.Product-peace $ 55.000
                         ul
                             li
                             li
                             li
                     articules.Product-item.col-md-3.col-xs-12.quitar-float
                         h3.Product-title Nombre Producto
                         img.Product-img(src="img/nuevo-producto.png", width="", height="", alt="")
                         p.Product-peace $ 55.000
                         ul
                             li
                             li
                             li
                     articules.Product-item.col-md-3.col-xs-12.quitar-float
                         h3.Product-title Nombre Producto
                         img.Product-img(src="img/nuevo-producto.png", width="", height="", alt="")
                         p.Product-peace $ 55.000
                         ul
                             li
                             li
                             li
                     articules.Product-item.col-md-3.col-xs-12.quitar-float
                         h3.Product-title Nombre Producto
                         img.Product-img(src="img/nuevo-producto.png", width="", height="", alt="")
                         p.Product-peace $ 55.000
                         ul
                             li
                             li
                             li
                     articules.Product-item.col-md-3.col-xs-12.quitar-float
                         h3.Product-title Nombre Producto
                         img.Product-img(src="img/nuevo-producto.png", width="", height="", alt="")
                         p.Product-peace $ 55.000
                         ul
                             li
                             li
                             li
                     articules.Product-item.col-md-3.col-xs-12.quitar-float
                         h3.Product-title Nombre Producto
                         img.Product-img(src="img/nuevo-producto.png", width="", height="", alt="")
                         p.Product-peace $ 55.000
                         ul
                             li
                             li
                             li
                     articules.Product-item.col-md-3.col-xs-12.quitar-float
                         h3.Product-title Nombre Producto
                         img.Product-img(src="img/nuevo-producto.png", width="", height="", alt="")
                         p.Product-peace $ 55.000
                         ul
                             li
                             li
                             li                     
                   
                     articules.Product-item.col-md-3.col-xs-12.quitar-float
                         h3.Product-title Nombre Producto
                         img.Product-img(src="img/nuevo-producto.png", width="", height="", alt="")
                         p.Product-peace $ 55.000
                         ul
                             li
                             li
                             li                  
                  
