doctype html
html
    head(lang="es")
        title MySchop | Compras a nivel nacional
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/styles.css")
    body
      include ../header/template.jade
      .Header
          .container
              .row
                  h1.Header-title.text-center Cotacto
      section.col-md-8.col-sm-6.col-xs-9.center-block.quitar-float.text-center
          p. 
            Colegio Gimnasio el Lago
            Santa Maria del Lago
            Bogotá, Bogota
            Colombia
          p Escribenos  
            a(href="mailto:info@myshop.com") info@myshop.com
          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d994.1121504243014!2d-74.09670113817658!3d4.691843894600733!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xc04708c66d936b87!2sColegio+Gimnasio+el+Lago!5e0!3m2!1ses!2ses!4v1434689030690"  frameborder="0" style="border:0").col-md-12.col-sm-10.col-xs-12