section.Frases
	.left
		
	.Frases-content
		ul.Frases-lista
			li.Frases-item
				p.Frases-item-frase Lo que la mente del hombre puede concebir y creer, es lo que la mente del hombre puede lograr.
				p.Frases-item-autor Napoleón Hill
			li.Frases-item
				p.Frases-item-frase All our dreams can come true,if we have the courage to pursue them.
				p.Frases-item-autor Walt Disney
			li.Frases-item
				p.Frases-item-frase Cada niño es un artista. El problema es cómo seguir siendo artista una vez que crezca.
				p.Frases-Item-autor Pablo Picasso
			li.Frases-item
				p.Frases-item-frase Para tener éxito, su deseo de éxito debe ser mayor que su miedo al fracaso.
				p.Frases-Item-autor Bill Cosby
			li.Frases-item
				p.Frases-item-frase No importa lo lento que vayas, siempre y cuando no te detengas.
				p.Frases-item-autor Confucio
	.right
		
