.container
	.row
		section.col-md-12.col-sm-12.col-xs-12.acerca#acerdaDe
			.titulo-acerca.col-md-12.col-sm-12.col-xs-12
				p.tituloVerde Acerda de Mi
			.col-md-6.col-sm-12.col-xs-12
					h2 Andres Hernandez Lozano
					h3 Desarrollador Web
					p Soy un joven de 20 años de edad, nací el 21 de Enero de 1995 en Bogota, Colombia en donde actualmente vivo,soy estudiante de la Corporación Universitaria Minuto de Dios de Ingeniería de sistemas. Me considero una persona apasionada por lo que hace,y se esfuerza para que todo le salga muy bien,también considero que tengo talento para ello. Se trabajar en grupo o individual,en grupo me considero un líder por mi formación siempre estoy atento a todo,ayudando,apoyando,preguntando y mas que todo escuchando nuevas ideas que ayuden al grupo. Cuando 14 años comencé hacer vídeos para subirlo a youtube sobre cosas de interés (Informático) desde entonces me apasiona a la tecnología, El Desarrollo Web llego a mí por el medio de ser tutor y quería tener mas conocimientos para poder compartir,hay fue cuando comencé a meterme en el rollo del desarrollo web,investigue sobre como crear mi primera pagina web,poco a poco fui adquiriendo conocimientos y conociendo gente. Después entre a un grupo de tutores de diferente disciplinas,conocí a un amigo y creamos ProgAndArt no tuvimos muchos éxitos pero adquirimos experiencia. Desde entonces siempre he querido tener mi empresa pero por ahora solo pienso en adquirir experiencia y mas conocimientos en este medio.
			.col-md-1
			.col-md-5.col-sm-12.col-xs-12.acerca-Datos
					h3 Intereses
					p Web Developer, Programacion Web, Nuevas tecnologías, Emprendimientos, Innovación,Desarrollo web.
					h3 Idiomas
					p Español- Competencia nativa
					p Inglés - Competencia Basica
					h3 Datos personales
					h4 Fecha de nacimiento
					p 21 de enero de 1995
					h4 Estado civil
					p Soltero