header.slider#inicio
    .container
        .row
            .titulo.vertical-centered-text
                .titulo-Content
                    p Hola,Soy
                        ul
                            li Andres Hernandez
                            li Front-end and UX
                            li Desarrollador Web
    .menu
        nav.navegador.vertical-centered-text
            ul.navegador-Lista
                li.navegador-Item 
                    a(href="#inicio") Incio
                li.navegador-Item 
                    a(href="") Acerca de Mi
                li.navegador-Item 
                    a(href="") Perfil Profecional
                li.Logo.navegador-Item
                li.navegador-Item 
                    a(href="") Habilidades
                li.navegador-Item 
                    a(href="") Estudios
                li.navegador-Item 
                    a(href="") Contáctame
                    
