header.slider#inicio
	.menu_bar
	.container
		.row
			.titulo.vertical-centered-text
				.titulo-Content
					p.titulo-Content-p Hola,Soy
						ul.titulo-Content-ul
							li Andres Hernandez
							li Front-end and UX
							li Desarrollador Web
			.Logo-media
	.menu_bar
		img.menu-img(src="img/Logo2.svg", alt="Andres Hernandez")
		.bt-menu
			span.fa.fa-bars Menu
	.menu
		nav.navegador
			ul.navegador-Lista
				li.navegador-Item
					a(href="#inicio") Inicio
				li.navegador-Item
					a(href="#acerdaDe") Acerca de Mi
				li.navegador-Item
					a(href="#Perfil") Perfil
				li.Logo
				li.navegador-Item
					a(href="#Habilidades") Habilidades
				li.navegador-Item
					a(href="#Estudios") Estudios
				li.navegador-Item
					a(href="#Contacto") Contáctame

