@import "nib"
test(color=red)
    border 1px solid color
    box-sizing border-box
    
body
    margin 0
    font-family Arial
    font-size  16px

@import "./Card/styles.styl"
@import "./Layout/styles.styl"
@import "./Status/styles.styl"
@import "./Phases/styles.styl"
@import "./Battle/styles.styl"