section.Portafolio
	.container
		.row
		.titulo-Perfil.col-md-12.col-sm-12.col-xs-12
				p.tituloVerde Portafolio
		.Portafolio-content
			.bar-Portafolio
				span.fa.fa-bars Menu Potafonio
			nav.Portafolio-menu
				
				ul.Portafolio-lista.col-md-12.col-sm-12.col-xs-12#slider-home
					li(data-type="dog" data-id="id-1").Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/1.jpg" alt="Blog-TuespacioGeek")
							figcaption
								h2 Blog
									span TuespacioGeek
								p
									a(href="#" target="_black")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o
					li(data-type="bird" data-id="id-2").Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/2.jpg" alt="MY-WebSite")
							figcaption
								h2 MY
									span WebSite
								p
									a(href="#" target="_black")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o
					li(data-type="bird dog" data-id="id-3").Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/3.jpg" alt="Portafolio-V.1.0")
							figcaption
								h2 Portafolio
									span V.1.0
								p
									a(href="#")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o
					li(data-type="cat" data-id="id-4").Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/4.jpg" alt="Workshop-Template")
							figcaption
								h2 Workshop
									span Template
								p
									a(href="")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o
					li(data-type="dog" data-id="id-5").Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/5.jpg" alt="WEBApp")
							figcaption
								h2 xte
									span nsor
								p
									a(href="http://www.xtensor.co/" target="_black")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o
					li(data-type="dog" data-id="id-6").Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/6.jpg" alt="WEBApp")
							figcaption
								h2 soltse
									span asfin
								p
									a(href="http://soltseasfin.com/" target="_black")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o