section.Portafolio
	.container
		.row
		.titulo-Perfil.col-md-12.col-sm-12.col-xs-12
				p.tituloVerde Portafolio
		.Portafolio-content
			.bar-Portafolio
				span.fa.fa-bars Menu Potafonio
			nav.Portafolio-menu
				a.Portafolio-menuItem(href="#All") Todos
				a.Portafolio-menuItem(href="#Dise単oLogo") Dise単o Logo
				a.Portafolio-menuItem(href="#Dise単oWeb") Dise単o Web
				a.Portafolio-menuItem(href="#UX") UX and UI
				.Portafolio-lista.col-md-12.col-sm-12.col-xs-12
					.Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/1.jpg" alt="Blog-TuespacioGeek")
							figcaption
								h2 Blog
									span TuespacioGeek
								p
									a(href="#" target="_black")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o
					.Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/2.jpg" alt="MY-WebSite")
							figcaption
								h2 MY
									span WebSite
								p
									a(href="#" target="_black")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o
					.Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/3.jpg" alt="Portafolio-V.1.0")
							figcaption
								h2 Portafolio
									span V.1.0
								p
									a(href="#")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o
					.Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/4.jpg" alt="Workshop-Template")
							figcaption
								h2 Workshop
									span Template
								p
									a(href="#" target="_black")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o
					.Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/5.jpg" alt="WEBApp")
							figcaption
								h2 xte
									span nsor
								p
									a(href="http://www.xtensor.co/" target="_black")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o
					.Potafafolio-item.col-md-4.col-sm-6.col-xs-12
						figure.effect-hera
							img(src="images/Portafolio/6.jpg" alt="WEBApp")
							figcaption
								h2 soltse
									span asfin
								p
									a(href="http://soltseasfin.com/" target="_black")
										i.fa.fa-fw.fa-link
									a(href="#")
										i.fa.fa-fw.fa-facebook
									a(href="#")
										i.fa.fa-fw.fa-picture-o