doctype html
html
    head(lang="es")
        title MySchop | Compras a nivel nacional
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="description", content="")
        meta(name="keywords", content="")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/styles.css")
    body
        .col-md-5.col-sm-6.col-xs-7.center-block.quitar-float.text-center
            img.col-md-11.col-sm-11.col-xs-12.center-block.animated.bounceInDown(src="img/myschopLogo.png",alt="Myschop-Logo")
            .col-md-11.col-sm-11.col-xs-12.center-block.quitar-float
                h1.title.animated.fadeInDown.demora-1 MySchop
                h2.submenu.animated.fadeInDown.demora-1 Compras en el mejor lugar
            nav.Menu.animated.fadeInDown.demora-1
                ul.Menu-ul.quitar-float.col-md-12.col-sm-12.col-xs-12.center-block
                    li.Menu-item.quitar-float: a(href="menu.html") Menu
                    li.Menu-item.quitar-float: a(href="contacto.html") Contaco
                    li.Menu-item.quitar-float: a(href="acerca.html") Acerca de
