.container
	.row
		section.col-md-12.col-sm-12.col-xs-12.Estudios#Estudios
			.titulo-Estudios.col-md-12.col-sm-12.col-xs-12
				p.tituloVerde Estudios
				.Estudios-certificado
					.col-md-12.Estudio-item
						.col-md-8.col-sm-8.col-xs-12
							.Estudios-content
								p.Estudios-titulo Estudiante, Bachiller
								p.Estudios-entidad en Colegio Villemar del Carmen
								p.Estudios-lugar Bogota, Colombia
								p 2011
						.col-md-4.col-sm-4.col-xs-12
							.Estudios-imagen
								img(src="images/escudo-villemar.png")
					.col-md-12.Estudio-item
						.col-md-8.col-sm-8.col-xs-12
							.Estudios-content
								p.Estudios-titulo Titulo, Tecnologo en informatica
								p.Estudios-entidad en Corporación Universitaria Minuto de Dios
								p.Estudios-lugar Bogota, Colombia
								p 2015-6
						.col-md-4.col-sm-4.col-xs-12
							.Estudios-imagen
								img(src="images/uniminuto.png")
					.col-md-12.Estudio-item
						.col-md-8.col-sm-8.col-xs-12
							.Estudios-content
								p.Estudios-titulo Estudiante, Ingeneria de Sistemas
								p.Estudios-entidad en Corporación Universitaria Minuto de Dios
								p.Estudios-lugar Bogota, Colombia
								p 2015-6 - Actualidad
						.col-md-4.col-sm-4.col-xs-12
							.Estudios-imagen
								img(src="images/uniminuto.png")
				.Estudios-certificado
					h1.subTituloVerde.col-md-12.col-sm-12.col-xs-12 Certificados
					.col-md-12.Estudio-item
						.col-md-8.col-sm-8.col-xs-12
							.Estudios-content
								p.Estudios-titulo Scrum Fundamentals Certified (SFC)
								p.Estudios-entidad 76775 en SCRUMstudy
								p.Estudios-lugar Bogota, Colombia
								p 2015-Mayo 
						.col-md-4.col-sm-4.col-xs-12
							.Estudios-imagen
								img(src="images/scrumStudy.png")
					.col-md-12.Estudio-item
						.col-md-8.col-sm-8.col-xs-12
							.Estudios-content
								p.Estudios-titulo Scrum Master Certified (SMC)
								p.Estudios-entidad 77880 en SCRUMstudy
								p.Estudios-lugar Bogota, Colombia
								p 2015-Junio
						.col-md-4.col-sm-4.col-xs-12
							.Estudios-imagen
								img(src="images/scrumStudy.png")
					.col-md-12.Estudio-item
						.col-md-8.col-sm-8.col-xs-12
							.Estudios-content
								p.Estudios-titulo Curso de Diseño web online
								p.Estudios-entidad platzi.com
								p.Estudios-lugar Bogota, Colombia
								p 2015-Julio
						.col-md-4.col-sm-4.col-xs-12
							.Estudios-imagen
								img(src="images/logoPlatzi.jpg")
					.col-md-12.Estudio-item
						.col-md-8.col-sm-8.col-xs-12
							.Estudios-content
								p.Estudios-titulo Curso de Programación Básica
								p.Estudios-entidad platzi.com
								p.Estudios-lugar Bogota, Colombia
								p 2015-Junio
						.col-md-4.col-sm-4.col-xs-12
							.Estudios-imagen
								img(src="images/logoPlatzi.jpg")