.container
	.row
		section.col-md-12.col-sm-12.col-xs-12.Perfil#Perfil
			.titulo-Perfil.col-md-12.col-sm-12.col-xs-12
				p.tituloVerde Perfil
			.col-md-12.col-sm-12.col-xs-12
					p Tecnólogo en informática con gran potencial laboral, responsable, comprometido, ordenado y ágil. Con actitud para participar en todos los procesos y políticas de la empresa. Soy una persona  dedicada, con excelentes relaciones interpersonales con disposición para el trabajo en equipo e individualmente orientado a un excelente logro de resultados. Se me facilita el servicio al cliente para así presentarme como un ser humano integral, Consiente y consecuente de las obligaciones adquiridas.
					p Desarrollador Freelance, con formación en desarrollo de software y a la construcción de sistemas de información, conocimientos en desarrollo de aplicativos web y base de datos. Manejo de lenguajes de programación de escritorio como Java y C#. Desarrollo web Html5, Css3, Jsp, JavaScript & jQuery y  frameworks Bootstrap. Base de datos MySQ y SqlServer y plataforma CMS como Wordpress y Joomla. Me especializo más en el desarrollo web en frontend, diseño gráfico de interfaces y ux, trabajo en equipo con nuevas tecnologías como Github.
					h2.subTituloVerde Objetivo
					p Mantener un compromiso profesional y honesto con la organización, que  me permita un desarrollo y  crecimiento integral, basado en los principios éticos y morales, que nos lleve a construir un ambiente donde trabajemos fijándonos metas, orientando las habilidades personales y grupales al cambio, generando  procesos dinámicos que nos permitan obtener mejores resultados
					