div(class="Card")
    h2(class="Card-name") Wolverine
    img(src="./img/Wizard-Wolverine-Xmen.jpg", alt="wolverine", class="Card-image")
    div(class="Card-description") Wolverine es muy poderoso
    div(class="Card-attack") 500 puntos de ataque