section.Habilidades.col-md-12.col-sm-12.col-xs-12#Habilidades
	.titulo-Habilidades.col-md-12.col-sm-12.col-xs-12
		p.tituloVerde Habilidades
	.container
		.row
			.col-md-6.col-sm-12.col-xs-12
				.Habilidades-content
					h3.col-md-12 Web y Front End
						div.progress
							div.progress-bar.progress-gadient(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%") 95% Complete
								span.sr-only" 45% Complete
						.col-md-12.col-sm-12.col-xs-12
							img.col-md-2.col-sm-2.col-xs-4(src="images/html-5.svg")
							img.col-md-2.col-sm-2.col-xs-4(src="images/css-3.svg")
							img.col-md-2.col-sm-2.col-xs-4(src="images/stylus.svg")
				.Habilidades-content
					h3.col-md-12 Diseño
						div.progress
							div.progress-bar.progress-gadient(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%") 95% Complete
								span.sr-only" 45% Complete
						.col-md-12.col-sm-12.col-xs-12
							img.col-md-2.col-sm-2.col-xs-4(src="images/AdobeIllustrator.svg")
							img.col-md-2.col-sm-2.col-xs-4(src="images/AdobePhotoshop.svg")
				.Habilidades-content
					h3.col-md-12 Frameworks y Librerias
						div.progress
							div.progress-bar.progress-gadient(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%") 95% Complete
								span.sr-only" 45% Complete
						.col-md-12.col-sm-12.col-xs-12
							img.col-md-2.col-sm-2.col-xs-4(src="images/jquery.svg")
							img.col-md-2.col-sm-2.col-xs-4(src="images/bootstrap.svg")
				.Habilidades-content
					h3.col-md-12 Bases de datos
						div.progress
							div.progress-bar.progress-gadient(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%") 95% Complete
								span.sr-only" 45% Complete
						.col-md-12.col-sm-12.col-xs-12
							img.col-md-2.col-sm-2.col-xs-4(src="images/mysql.svg")
			.col-md-6.col-sm-12.col-xs-12
				.Habilidades-content
					h3.col-md-12 Lenguajes
						div.progress
							div.progress-bar.progress-gadient(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%") 95% Complete
								span.sr-only" 45% Complete
						.col-md-12.col-sm-12.col-xs-12
							img.col-md-2.col-sm-2.col-xs-4(src="images/javascript.svg")
							img.col-md-2.col-sm-2.col-xs-4(src="images/php.svg")
				.Habilidades-content
					h3.col-md-12 Gestión de Contenido
						div.progress
							div.progress-bar.progress-gadient(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%") 95% Complete
								span.sr-only" 45% Complete
						.col-md-12.col-sm-12.col-xs-12
							img.col-md-2.col-sm-2.col-xs-4(src="images/wordpress-icon.svg")
				.Habilidades-content
					h3.col-md-12 Metodologias agiles
						div.progress
							div.progress-bar.progress-gadient(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%") 95% Complete
								span.sr-only" 45% Complete
						.col-md-12.col-sm-12.col-xs-12
							img.col-md-2.col-sm-2.col-xs-4(src="images/content_scrum.png")
				.Habilidades-content
					h3.col-md-12 Control de versiones
						div.progress
							div.progress-bar.progress-gadient(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%") 95% Complete
								span.sr-only" 45% Complete
						.col-md-12.col-sm-12.col-xs-12
							img.col-md-2.col-sm-2.col-xs-4(src="images/git.svg")
							img.col-md-2.col-sm-2.col-xs-4(src="images/github-icon.svg")
