.Menu-header
    .container
      .row
       
        nav.Menu
                 ul.Menu-ul.center-block.text-center
                     li.Menu-item.col-md-3.col-sm-3.col-xs-12.quitar-float: a(href="index.html").MySchop MySchop
                     li.Menu-item.col-md-3.col-sm-3.col-xs-12.quitar-float: a(href="contacto.html") Contaco
                     li.Menu-item.col-md-3.col-sm-3.col-xs-12.quitar-float: a(href="acerca.html") Acerca de
       
                
            
            
                   
         
                        
                 